.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    box-sizing: border-box;
}

.arrow-btn {
    width: 3.2rem;
    height: 3.2rem;

    border-radius: 50%;
    border: 1px solid #86262f;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    stroke: #86262f;
    transition: background-color 0.3s, color 0.3s;
}

.arrow-btn svg {
    stroke: #86262f;
}

.pagination-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
    padding: 1.2rem 3.6rem;

    width: 70.4rem;
    height: 5.6rem;

    border: 1px solid #d6d6d6;
    border-radius: 2.4rem;
    background-color: #fff;
}

.page-item,
.page-ellipsis {
    min-width: 3.2rem;
    height: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;
}

.page-item {
    border-radius: 50%;
    border: 1px solid #656565;
    color: #000;
    background-color: transparent;
}

.page-selected {
    background-color: #b95962;
    color: #fff;
    border: 1px solid #b95962;
}

.page-ellipsis {
    border: none;
    cursor: default;
    pointer-events: none;
}

.arrow-btn:hover {
    background-color: #b95962;
    color: #fff;
}

.arrow-btn:hover:not(.page-selected) {
    background-color: #f2f2f2;
}
