* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;      /* 1rem = 10px */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    direction: rtl;
}

a:link {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}
