/* ------------------------------
   Headings
------------------------------ */
.heading-1 {
    font-family: "IRANYekan", sans-serif;
    font-weight: bold;
    font-size: 4.4rem;
    line-height: 140%;
}

.heading-2 {
    font-family: "IRANYekan", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 140%;
}

.heading-3 {
    font-family: "IRANYekan", sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 140%;
}

.heading-4 {
    font-family: "IRANYekan", sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 140%;
}

.heading-5 {
    font-family: "IRANYekan", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 140%;
}

.heading-6 {
    font-family: "IRANYekan", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 140%;
}

/* ------------------------------
   Body Text
------------------------------ */
.body-1 {
    font-family: "IRANYekan", sans-serif;
    font-weight: normal;
    font-size: 2rem;
    line-height: 180%;
}

.body-2 {
    font-family: "IRANYekan", sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 180%;
}

.body-3 {
    font-family: "IRANYekan", sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 180%;
}

.body-4 {
    font-family: "IRANYekan", sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 180%;
}

.body-5 {
    font-family: "IRANYekan", sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 180%;
}

.body-light {
    font-family: "IRANYekan", sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 180%;
}

/* ------------------------------
   Captions
------------------------------ */
.caption-1 {
    font-family: "IRANYekan", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 180%;
}

.caption-2 {
    font-family: "IRANYekan", sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 180%;
}

.caption-3 {
    font-family: "IRANYekan", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 180%;
}

.caption-4 {
    font-family: "IRANYekan", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 180%;
}

/* ------------------------------
   Buttons
------------------------------ */
.button-1 {
    font-family: "IRANYekan", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 180%;
}

.button-2 {
    font-family: "IRANYekan", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

/* ------------------------------
   Overlines
------------------------------ */
.overline-1 {
    font-family: "IRANYekan", sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 180%;
}

.overline-2 {
    font-family: "IRANYekan", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 180%;
}

/* ------------------------------
   Underlines
------------------------------ */
.underline-1 {
    font-family: "IRANYekan", sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 180%;
}

.underline-2 {
    font-family: "IRANYekan", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 180%;
}

.underline-3 {
    font-family: "IRANYekan", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 180%;
}