/****************************************** main container ****************************************/
.order-history-container {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 6.8rem;

    margin-bottom: 10.8rem;
}

/********************************************* profile-main-section *************************************/
.profile-main-section {
    border: 1px solid #ededed;
    border-radius: 1.6rem;

    width: 100%;
    padding: 2.4rem 3.2rem;
}

.profile-main-section header {
    border-bottom: 1px solid #ededed;
    color: #242424;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.6rem;
}

.profile-main-section header div {
    display: flex;
    gap: 2.4rem;
}

/***************************************************************************************************/
.not-found-img-container {
    padding: 7.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders-container {
    padding: 2.4rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
}

.tab-container span {
    cursor: pointer;
}

.selected {
    color: #b95962;
    border-bottom: 1px solid #b95962;
}