.top-prof {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    border-bottom: 1px solid #ededed;
}

.profile-picture {
    position: relative;
}

.camera-btn {
    position: absolute;
    left: 2%;
    bottom: 7%;
}

.dashbord {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.8rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
