/*************************************** sign up form *************************************************/
.form-group {
    /*width: 28.8rem;*/
    width: 100%;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #cbcbcb;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.8rem;

    border: 1px solid #cbcbcb;
    border-radius: 0.8rem;
}

.error-message {
    color: #86262F;
}

/******************************************************************************************************************************/
/******************************************************** user sign up page 2 *************************************************/
/******************************************************************************************************************************/
.address {
    grid-row: 4;
    grid-column: 1 / -1;
    width: 100%;
}
